{% extends templates/base.html %}



{% block contenido %}
<!-- Contenido del sitio -->

<!-- home section -->

<form method="post" action="asesoriaTesis">
<div>
    <h3>Temas para asesorar</h3>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Título de tesis</th>
            <th>Especialidad</th>
            <th>Explicación del tema de tesis</th>
            <th>¿Deseo asesorar?</th>
        </tr>
    </thead>
    <tbody class="table-hover">

        {% for tema in temas %}
        <tr>
            <td>{{tema.ttesis}} </td>
            <td>{{tema.escuela}}</td>
            <td>{{tema.etema}}</td>
           
            <!--<td>{{tema.asesor}}</td>-->
            <td>
                <div class="radio">
                    <label>
                        <input name="aprobar" value="{{tema.ttesis}}&{{tema.escuela}}&{{tema.etema}}&{{tema.asesor}}&{{tema.autor}}"  type="radio"> Acepto
                    </label>
                </div>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<button type="submit" class="btn btn-primary">Enviar respuesta</button>

</form>
<!-- Fin Contenido del sitio -->
{% endblock contenido %}