{% extends templates/base.html %}



{% block contenido %}

<form method="post" action="feedbackCalificacion" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-2">Seleccionar Tesis</label>
        <div class="col-xs-10">
            <select class="form-control" id="reunion" name="reunion">
                {% for t in tesis %}
                <option value="tesis">{{t.ttesis}}</option>
                {% endfor %}
            </select>
        </div>
    </div>  
    <div class="form-group">
        <label class="control-label col-xs-2">Feedback al Alumno</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="ob_asesor" 
                   placeholder="Observaciones del Asesor" name="ob_asesor">
        </div>
    </div>

    <div class="ec-stars-wrapper">

        <label class="control-label col-xs-2">Calificar segun criterio</label>
        <div class="col-xs-10">
            <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
            <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
            <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
            <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
            <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>

        </div>
    </div>
    <div class="col-xs-offset-2 col-xs-10" >
        <button type="submit" class="btn btn-primary" onclick="alert('¡Estas Enviando Feedback!')">Enviar feedback</button>
    </div>
</form>

{% endblock contenido %}