{% extends templates/base.html %}
{% block menu %}
    {{super()}}
    menuuuu!
{% endblock menu %}
{% block contenido %}
<!-- Contenido del sitio -->
<div class="jumbotron">
    <h1>Ayuda</h1>
    <p>
        Está es una aplicación con fines de enseñanza. 
        El objetivo es mostrar el desarrollo de una app web
        que siga las buenas prácticas usadas actualmente en la
        empresa.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">
            Repo Github
        </a>
    </p>
</div>
<!-- Fin Contenido del sitio -->
{% endblock contenido %}