{% extends templates/base.html %}

{% block contenido %}

        <table class="table table-hover">
            <thead>
                <tr class="success"> 
                    <th>Titulo de Tesis</th>
                    <th>Autor(es)</th>
                    <th>Fecha publicacion</th>
                    <th>Facultad</th>
                    <th>Estado</th>
                    <th>Archivo</th>

                </tr>
            </thead>
            <tbody class="table-hover">
                    {% for tesis in tesis %}
                <tr>
                    <td>{{tesis.ttesis}}</td>
                    <td>{{tesis.autor}}</td>
                    <td>{{tesis.fecha}}</td>
                    <td>{{tesis.facultad}}</td>
                    <td>{{tesis.estado}}</td>
                    <td><a href={{tesis.archivo}}>PDF</a></td>
                </tr>
                {% endfor %}


                </tr>
            </tbody>
        </table>

{% endblock contenido %}